<%- include('script') %>

<div class="bt-site-footer">

    <div class="bt_bb_wrapper">
        <section id="bt_bb_section6638a0991f9e9"
            class="bt_bb_section bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_top_spacing_large bt_bb_bottom_spacing_medium"
            data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;}}">
            <div class="bt_bb_port">
                <div class="bt_bb_cell">
                    <div class="bt_bb_cell_inner">
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row" data-bt-override-class="{}">
                                <div class="bt_bb_column col-xxl-4 col-xl-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                    data-width="4" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div class="bt_bb_image bt_bb_shape_square bt_bb_target_self bt_bb_align_inherit bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle"
                                                data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                <span><img loading="lazy" decoding="async" width="220"
                                                        height="65"
                                                        src="../twinbrotherslogo.png"
                                                        class="attachment-full size-full"
                                                        alt="logo"
                                                        data-full_image_src="../uploads/sites/2/2021/12/logo_black_footer.png"
                                                        title="logo_black_footer" /></span></div>
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_small bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;}}">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span
                                                            data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                            <div class="bt_bb_text">
                                                <p>Center for psychology &amp; conseling</p>
                                            </div>
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_normal bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="null">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span
                                                            data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_10 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit bt_bb_font_weight_100"
                                                style="; --icon-primary-color:#ffffff; --icon-secondary-color:#469baf;"
                                                data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                <a href="https://www.facebook.com/" target="_blank"
                                                    data-ico-fontawesome="&#xf09a;"
                                                    class="bt_bb_icon_holder"></a></div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_10 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit bt_bb_font_weight_100"
                                                style="; --icon-primary-color:#ffffff; --icon-secondary-color:#469baf;"
                                                data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                <a href="https://twitter.com/" target="_blank"
                                                    data-ico-fontawesome="&#xf099;"
                                                    class="bt_bb_icon_holder"></a></div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_10 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit bt_bb_font_weight_100"
                                                style="; --icon-primary-color:#ffffff; --icon-secondary-color:#469baf;"
                                                data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                <a href="https://www.linkedin.com" target="_blank"
                                                    data-ico-fontawesome="&#xf0e1;"
                                                    class="bt_bb_icon_holder"></a></div>
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_normal bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="null">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span
                                                            data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-xxl-8 col-xl-8 col-xs-12 col-sm-12 col-md-8 col-lg-8 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                    data-width="8" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div class="bt_bb_button bt_bb_color_scheme_5 bt_bb_icon_position_right bt_bb_style_clean bt_bb_size_extralarge bt_bb_width_inline bt_bb_shape_inherit bt_bb_target_self bt_bb_align_inherit bt_bb_with_arrow"
                                                style="margin-right: 0em;; --primary-color:#2b2c2e; --secondary-color:#ff9245;"
                                                data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_extralarge&quot;,&quot;xxl&quot;:&quot;extralarge&quot;,&quot;xl&quot;:&quot;extralarge&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                <a href="/contact/"
                                                    target="_self" class="bt_bb_link"
                                                    title="Career Opportunities"><span class="bt_bb_button_text"
                                                        style="font-family:'Castoro'">Career
                                                        Opportunities</span></a></div>
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_10 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_10&quot;,&quot;xxl&quot;:&quot;10&quot;,&quot;xl&quot;:&quot;10&quot;}}">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span
                                                            data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                            <div class="bt_bb_button bt_bb_color_scheme_5 bt_bb_icon_position_right bt_bb_style_clean bt_bb_size_extralarge bt_bb_width_inline bt_bb_shape_inherit bt_bb_target_self bt_bb_align_inherit bt_bb_with_arrow"
                                                style="margin-right: 0em;; --primary-color:#2b2c2e; --secondary-color:#ff9245;"
                                                data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_extralarge&quot;,&quot;xxl&quot;:&quot;extralarge&quot;,&quot;xl&quot;:&quot;extralarge&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                <a href="/aboutus"
                                                    target="_self" class="bt_bb_link" title="Our Approach"><span
                                                        class="bt_bb_button_text"
                                                        style="font-family:'Castoro'">Our Approach</span></a>
                                            </div>
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_25 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_25&quot;,&quot;xxl&quot;:&quot;25&quot;,&quot;xl&quot;:&quot;25&quot;}}">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span
                                                            data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                            <div class="bt_bb_image bt_bb_shape_square bt_bb_target_self bt_bb_align_inherit bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle"
                                                data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                <span><img loading="lazy" decoding="async" width="690"
                                                        height="10"
                                                        src="../uploads/sites/2/2021/12/line_02.png"
                                                        class="attachment-full size-full"
                                                        alt="../uploads/sites/2/2021/12/line_02.png"
                                                        data-full_image_src="../uploads/sites/2/2021/12/line_02.png"
                                                        title="line_02"
                                                        srcset="../uploads/sites/2/2021/12/line_02.png 690w, ../uploads/sites/2/2021/12/line_02-640x10.png 640w, ../uploads/sites/2/2021/12/line_02-320x5.png 320w, ../uploads/sites/2/2021/12/line_02-600x9.png 600w"
                                                        sizes="(max-width: 690px) 100vw, 690px" /></span></div>
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_30 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="{&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_30&quot;,&quot;xxl&quot;:&quot;30&quot;,&quot;xl&quot;:&quot;30&quot;}}">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span
                                                            data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                            <div class="bt_bb_row_wrapper">
                                                <div class="bt_bb_row_inner" data-bt-override-class="{}">
                                                    <div class="bt_bb_column_inner col-xxl-4 col-xl-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                                        data-width="4" data-bt-override-class="{}">
                                                        <div class="bt_bb_column_inner_content">
                                                            <header
                                                                class="bt_bb_headline bt_bb_dash_none bt_bb_superheadline bt_bb_superheadline_outside btNoHeadline bt_bb_size_small bt_bb_align_inherit"
                                                                data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                                <div
                                                                    class="bt_bb_headline_superheadline_outside">
                                                                    <span
                                                                        class="bt_bb_headline_superheadline">LINKS</span>
                                                                </div>
                                                            </header>
                                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_extra_small bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                                data-bt-override-class="{&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_extra_small&quot;,&quot;xxl&quot;:&quot;extra_small&quot;,&quot;xl&quot;:&quot;extra_small&quot;}}">
                                                                <div class="bt_bb_separator_v2_inner"><span
                                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                                        class="bt_bb_separator_v2_inner_content"><span
                                                                            data-ico-=""
                                                                            class="bt_bb_icon_holder"></span></span><span
                                                                        class="bt_bb_separator_v2_inner_after"></span>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="bt_bb_custom_menu bt_bb_direction_vertical">
                                                                <div class="menu-custom-menu-container">
                                                                    <ul id="menu-custom-menu" class="menu">
                                                                        <li id="menu-item-1289"
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1289">
                                                                            <a
                                                                                href="/aboutus">About</a>
                                                                        </li>
                                                                        <li id="menu-item-2545"
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2545">
                                                                            <a
                                                                                href="/services/">Services</a>
                                                                        </li>
                                                                        <li id="menu-item-1291"
                                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1291">
                                                                            <a
                                                                                href="/contact/">Contact</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_normal bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                                data-bt-override-class="null">
                                                                <div class="bt_bb_separator_v2_inner"><span
                                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                                        class="bt_bb_separator_v2_inner_content"><span
                                                                            data-ico-=""
                                                                            class="bt_bb_icon_holder"></span></span><span
                                                                        class="bt_bb_separator_v2_inner_after"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bt_bb_column_inner col-xxl-4 col-xl-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                                        data-width="4" data-bt-override-class="{}">
                                                        <div class="bt_bb_column_inner_content">
                                                            <header
                                                                class="bt_bb_headline bt_bb_dash_none bt_bb_superheadline bt_bb_superheadline_outside btNoHeadline bt_bb_size_small bt_bb_align_inherit"
                                                                data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                                <div
                                                                    class="bt_bb_headline_superheadline_outside">
                                                                    <span
                                                                        class="bt_bb_headline_superheadline">ADDRESS</span>
                                                                </div>
                                                            </header>
                                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_extra_small bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                                data-bt-override-class="{&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_extra_small&quot;,&quot;xxl&quot;:&quot;extra_small&quot;,&quot;xl&quot;:&quot;extra_small&quot;}}">
                                                                <div class="bt_bb_separator_v2_inner"><span
                                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                                        class="bt_bb_separator_v2_inner_content"><span
                                                                            data-ico-=""
                                                                            class="bt_bb_icon_holder"></span></span><span
                                                                        class="bt_bb_separator_v2_inner_after"></span>
                                                                </div>
                                                            </div>
                                                            <div class="bt_bb_text">
                                                                <p>Add.2 NEW PUNDAG, SAIL CITY ROAD, RANCHI 834004</p>
                                                                <hr>
                                                                <p>Add.1 FIRST FLOOR RAJ COMPLEX OPPOSITE SPEAKER HOUSE KANKE ROAD RANCHI 834008</p>
                                                            </div>
                                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_normal bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                                data-bt-override-class="null">
                                                                <div class="bt_bb_separator_v2_inner"><span
                                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                                        class="bt_bb_separator_v2_inner_content"><span
                                                                            data-ico-=""
                                                                            class="bt_bb_icon_holder"></span></span><span
                                                                        class="bt_bb_separator_v2_inner_after"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bt_bb_column_inner col-xxl-4 col-xl-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                                        data-width="4" data-bt-override-class="{}">
                                                        <div class="bt_bb_column_inner_content">
                                                            <header
                                                                class="bt_bb_headline bt_bb_dash_none bt_bb_superheadline bt_bb_superheadline_outside btNoHeadline bt_bb_size_small bt_bb_align_inherit"
                                                                data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                                <div
                                                                    class="bt_bb_headline_superheadline_outside">
                                                                    <span
                                                                        class="bt_bb_headline_superheadline">CONTACT</span>
                                                                </div>
                                                            </header>
                                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_extra_small bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                                data-bt-override-class="{&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_extra_small&quot;,&quot;xxl&quot;:&quot;extra_small&quot;,&quot;xl&quot;:&quot;extra_small&quot;}}">
                                                                <div class="bt_bb_separator_v2_inner"><span
                                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                                        class="bt_bb_separator_v2_inner_content"><span
                                                                            data-ico-=""
                                                                            class="bt_bb_icon_holder"></span></span><span
                                                                        class="bt_bb_separator_v2_inner_after"></span>
                                                                </div>
                                                            </div>
                                                            <div class="bt_bb_text">
                                                                <span><b>THERAPISTS - LAV & KUSH</b></span>
                                                                <p>T: 6299826209<br />T: 8804787966s<br />
                                                                    E: info@example.com</p>
                                                            </div>
                                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_bottom_spacing_normal bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                                data-bt-override-class="null">
                                                                <div class="bt_bb_separator_v2_inner"><span
                                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                                        class="bt_bb_separator_v2_inner_content"><span
                                                                            data-ico-=""
                                                                            class="bt_bb_icon_holder"></span></span><span
                                                                        class="bt_bb_separator_v2_inner_after"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- cell_inner -->
                </div><!-- cell -->
            </div><!-- port -->
        </section>
        <section id="bt_bb_section6638a09920f9f"
            class="bt_bb_section bt_bb_color_scheme_13 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_top_spacing_small bt_bb_bottom_spacing_small"
            style="; --section-primary-color:#2b2c2e; --section-secondary-color:#f1f1f1;"
            data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_small&quot;,&quot;xxl&quot;:&quot;small&quot;,&quot;xl&quot;:&quot;small&quot;}}">
            <div class="bt_bb_port">
                <div class="bt_bb_cell">
                    <div class="bt_bb_cell_inner">
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row bt_bb_hidden_xs bt_bb_hidden_ms" data-bt-override-class="{}">
                                <div class="bt_bb_column col-xxl-12 col-xl-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                    data-width="12" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div class="bt_bb_text"
                                                style="opacity: 0.5; display: inline-block; float: left; padding-right: 1em; border-right: 1px solid #ff9245; margin-right: 1em;">
                                                <p>©2024 Twin Brother Terapy</p>
                                            </div>
                                            <div class="bt_bb_text"
                                                style="opacity: 0.5; display: inline-block; float: left; padding-right: 1em; border-right: 1px solid #ff9245; margin-right: 1em;">
                                                <p><a
                                                        href="/services/">Terms
                                                        of use</a></p>
                                            </div>
                                            <div class="bt_bb_text" style="opacity: 0.5; float: left;">
                                                <p><a href="/about/">Cookie
                                                        policy</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row bt_bb_hidden_sm bt_bb_hidden_md bt_bb_hidden_lg"
                                data-bt-override-class="{}">
                                <div class="bt_bb_column col-xxl-12 col-xl-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                    data-width="12" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div class="bt_bb_text" style="opacity: 0.5;">
                                                <p>©2024 Twin Brother Terapy</p>
                                            </div>
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_extra_small bt_bb_border_thickness_1 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_extra_small&quot;,&quot;xxl&quot;:&quot;extra_small&quot;,&quot;xl&quot;:&quot;extra_small&quot;},&quot;bt_bb_border_thickness_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_thickness_1&quot;,&quot;xxl&quot;:&quot;1&quot;,&quot;xl&quot;:&quot;1&quot;},&quot;bt_bb_icon_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_icon_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_text_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_text_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;}}">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span
                                                            data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                            <div class="bt_bb_text" style="opacity: 0.5;">
                                                <p><a
                                                        href="/services/">Terms
                                                        of use</a></p>
                                            </div>
                                            <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_extra_small bt_bb_border_thickness_1 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_extra_small&quot;,&quot;xxl&quot;:&quot;extra_small&quot;,&quot;xl&quot;:&quot;extra_small&quot;},&quot;bt_bb_border_thickness_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_thickness_1&quot;,&quot;xxl&quot;:&quot;1&quot;,&quot;xl&quot;:&quot;1&quot;},&quot;bt_bb_icon_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_icon_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;},&quot;bt_bb_text_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_text_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;}}">
                                                <div class="bt_bb_separator_v2_inner"><span
                                                        class="bt_bb_separator_v2_inner_before"></span><span
                                                        class="bt_bb_separator_v2_inner_content"><span
                                                            data-ico-=""
                                                            class="bt_bb_icon_holder"></span></span><span
                                                        class="bt_bb_separator_v2_inner_after"></span></div>
                                            </div>
                                            <div class="bt_bb_text" style="opacity: 0.5;">
                                                <p><a href="/aboutus/">Cookie
                                                        policy</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- cell_inner -->
                </div><!-- cell -->
            </div><!-- port -->
        </section>
    </div>
    <footer class="btLightSkin"></footer>
</div><!-- /bt-site-footer -->

</div>


<!-- BEGIN recaptcha, injected by plugin wp-recaptcha-integration  -->
<script type="text/javascript">
var recaptcha_widgets = {};

function wp_recaptchaLoadCallback() {
    try {
        grecaptcha;
    } catch (err) {
        return;
    }
    var e = document.querySelectorAll ? document.querySelectorAll('.g-recaptcha:not(.wpcf7-form-control)') :
        document.getElementsByClassName('g-recaptcha'),
        form_submits;

    for (var i = 0; i < e.length; i++) {
        (function (el) {
            var wid;
            // check if captcha element is unrendered
            if (!el.childNodes.length) {
                wid = grecaptcha.render(el, {
                    'sitekey': '6LfmEKAaAAAAAJGwYMNSdux-yATrkwZcw6GT6N41',
                    'theme': el.getAttribute('data-theme') || 'light'
                });
                el.setAttribute('data-widget-id', wid);
            } else {
                wid = el.getAttribute('data-widget-id');
                grecaptcha.reset(wid);
            }
        })(e[i]);
    }
}

// if jquery present re-render jquery/ajax loaded captcha elements
if (typeof jQuery !== 'undefined')
    jQuery(document).ajaxComplete(function (evt, xhr, set) {
        if (xhr.responseText && xhr.responseText.indexOf('6LfmEKAaAAAAAJGwYMNSdux-yATrkwZcw6GT6N41') !== -1)
            wp_recaptchaLoadCallback();
    });
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=wp_recaptchaLoadCallback&#038;render=explicit" async
defer></script>
<!-- END recaptcha -->
<script type='text/javascript'>
(function () {
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
})();
</script>
<link rel='stylesheet' id='bt_bb_google_fonts-css'
href='https://fonts.googleapis.com/css2?family=Castoro:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&#038;subset=latin,latin-ext&#038;display=swap'
type='text/css' media='all' />
<script type="text/javascript"
src="../plugins/contact-form-7/includes/swv/js/index.js?ver=5.9.3"
id="swv-js"></script>
<script type="text/javascript" id="contact-form-7-js-extra">
/* <![CDATA[ */
var wpcf7 = {
    "api": {
        "root": "https:\/\/lycka.bold-themes.com\/trendy\/wp-json\/",
        "namespace": "contact-form-7\/v1"
    },
    "cached": "1"
};
/* ]]> */
</script>
<script type="text/javascript"
src="../plugins/contact-form-7/includes/js/index.js?ver=5.9.3"
id="contact-form-7-js"></script>
<script type="text/javascript"
src="../plugins/woocommerce/assets/js/sourcebuster/sourcebuster.min.js?ver=8.7.0"
id="sourcebuster-js-js"></script>

<script type="text/javascript"
src="../plugins/woocommerce/assets/js/frontend/order-attribution.min.js?ver=8.7.0"
id="wc-order-attribution-js"></script>
<script type="text/javascript"
src="../plugins/duracelltomi-google-tag-manager/dist/js/gtm4wp-form-move-tracker.js?ver=1.20.2"
id="gtm4wp-form-move-tracker-js"></script>
<script type="text/javascript"
src="../themes/lycka/framework/js/fancySelect.js?ver=6.5.2"
id="fancySelect-js"></script>
<script type="text/javascript" id="lycka-header-misc-js-before">
/* <![CDATA[ */
window.BoldThemesURI = "../themes/lycka";
window.BoldThemesAJAXURL = "/wp-admin/admin-ajax.php";
window.boldthemes_text = [];
window.boldthemes_text.previous = 'previous';
window.boldthemes_text.next = 'next';
/* ]]> */
</script>
<script type="text/javascript"
src="../themes/lycka/framework/js/header.misc.js?ver=6.5.2"
id="lycka-header-misc-js"></script>
<script type="text/javascript"
src="../themes/lycka/framework/js/misc.js?ver=6.5.2"
id="lycka-misc-js"></script>
<script type="text/javascript"
src="https://www.google.com/recaptcha/api.js?render=6LfmEKAaAAAAAJGwYMNSdux-yATrkwZcw6GT6N41&amp;ver=3.0"
id="google-recaptcha-js"></script>
<script type="text/javascript"
src="https://lycka.bold-themes.com/trendy/wp-includes/js/dist/vendor/wp-polyfill-inert.min.js?ver=3.1.2"
id="wp-polyfill-inert-js"></script>
<script type="text/javascript"
src="https://lycka.bold-themes.com/trendy/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.14.0"
id="regenerator-runtime-js"></script>
<script type="text/javascript"
src="https://lycka.bold-themes.com/trendy/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0"
id="wp-polyfill-js"></script>
<script type="text/javascript" id="wpcf7-recaptcha-js-extra">
/* <![CDATA[ */
var wpcf7_recaptcha = {
    "sitekey": "6LfmEKAaAAAAAJGwYMNSdux-yATrkwZcw6GT6N41",
    "actions": {
        "homepage": "homepage",
        "contactform": "contactform"
    }
};
/* ]]> */
</script>
<script type="text/javascript"
src="../plugins/contact-form-7/modules/recaptcha/index.js?ver=5.9.3"
id="wpcf7-recaptcha-js"></script>
<script type="text/javascript"
src="../plugins/bold-page-builder/content_elements/bt_bb_section/bt_bb_elements.js?ver=4.9.1"
id="bt_bb_elements-js"></script>
<script type="text/javascript"
src="../themes/lycka/bold-page-builder/content_elements/bt_bb_floating_image/bt_bb_floating_image.js?ver=6.5.2"
id="bt_bb_floating_image-js"></script>
<script type="text/javascript"
src="../themes/lycka/bold-page-builder/content_elements/bt_bb_animated_text/js/jquery.lettering.js?ver=6.5.2"
id="bt_bb_animated_text_lettering-js"></script>
<script type="text/javascript"
src="../themes/lycka/bold-page-builder/content_elements/bt_bb_animated_text/js/jquery.textillate.js?ver=6.5.2"
id="bt_bb_animated_text_textillate-js"></script>
<script type="text/javascript"
src="../themes/lycka/bold-page-builder/content_elements/bt_bb_animated_text/js/bt_bb_animated_text.js?ver=6.5.2"
id="bt_bb_animated_text-js"></script>


</body>
</html>