<header class="mainHeader btClear gutter ">
    <div class="main-header-inner">
        <div class="bt-logo-area menu-holder btClear">
            <div class="port">
                <div class="bt-horizontal-menu-trigger">&nbsp;<div class="bt_bb_icon">
                        <div class="bt_bb_icon_holder"></div>
                    </div>
                </div>
                <div class="logo">
                    <span>
                        <a href="/"><img class="btMainLogo"
                                data-hw="2.3888888888889"
                                src="../twinbrotherswhitelogo.png"
                                alt="Trendy"><img class="btAltLogo"
                                src="../twinbrotherslogo.png"
                                alt="Trendy"></a> </span>
                </div><!-- /logo -->
                <div class="menuPort">
                    <div class="topBarInMenu">
                        <div class="topBarInMenuCell">
                            <div class="btButtonWidget bt_bb_button bt_bb_width_inline bt_bb_shape_inherit  bt_bb_align_inherit  bt_bb_style_filled_alternate bt_bb_icon_position_left bt_bb_size_small bt_bb_color_scheme_6 bt_bb_with_arrow_circle btWithLink"
                                style="--primary-color: var(--dark-font-color); --secondary-color: var(--accent-color); ">
                                <a href="/contact/" target="_self"
                                    class="bt_bb_link"><span class="bt_bb_button_text">Find Your
                                        Therapist</span></a></div>
                        </div><!-- /topBarInMenu -->
                    </div><!-- /topBarInMenuCell -->
                    <nav>
                        <ul id="menu-primary-menu" class="menu">
                            <li id="menu-item-44"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-44">
                                <a href="/" aria-current="page">Home</a>
                            </li>
                            <li id="menu-item-44"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-44">
                                <a href="/aboutus" aria-current="page">About</a>
                            </li>
                            <li id="menu-item-44"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-44">
                                <a href="/services" aria-current="page">Services</a>
                            </li>
                            <!-- <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-43">
                                <a href="/services">Services</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1855">
                                        <a href="#">Services 1</a></li>
                                    </li>
                                    <li id="menu-item-1855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1855">
                                        <a href="#">Services 2</a></li>
                                    </li>
                                    <li id="menu-item-1855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1855">
                                        <a href="#">Services 3</a></li>
                                    </li>
                                    <li id="menu-item-1855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1855">
                                        <a href="#">Services 4</a></li>
                                    </li>
                                    <li id="menu-item-1855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1855">
                                        <a href="#">Services 5</a></li>
                                    </li>
                                </ul>
                            </li> -->
                            
                            <li id="menu-item-40"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-40">
                                <a href="/blog">Blog</a>
                                
                            </li>
                            <li id="menu-item-40"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-40">
                                <a href="/gallery">Gallery</a>
                                
                            </li>
                            <li id="menu-item-45"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45">
                                        <a href="/account">My
                                            Account</a></li>
                        </ul>
                    </nav>
                </div><!-- .menuPort -->
            </div><!-- /port -->
        </div><!-- /menu-holder / bt-below-logo-area -->
    </div><!-- / inner header for scrolling -->
</header><!-- /.mainHeader -->