<%- include('../includes/head') %>
<div class="bt-content-wrap btClear">
    <div class="bt-content-holder">

        <div class="bt-content">
            <div class="bt_bb_wrapper">
                <section id="bt_bb_section6638c1ff81d2c"
                    class="bt_bb_section bt_bb_color_scheme_1 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_bottom_section_coverage_image bt_bb_section_with_bottom_coverage_image bt_bb_top_spacing_large bt_bb_bottom_spacing_large"
                    style="; --section-primary-color:#ffffff; --section-secondary-color:#2b2c2e;"
                    data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;}}">
                    <div class="bt_bb_background_image_holder_wrapper">
                        <div class="bt_bb_background_image_holder btLazyLoadBackground bt_bb_parallax"
                            data-background_image_src="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2018/09/featured_image_shop.jpg"
                            data-parallax="0.7" data-parallax-offset="0" data-parallax-zoom-start="1"
                            data-parallax-zoom-end="1" data-parallax-blur-start="0" data-parallax-blur-end="0"
                            data-parallax-opacity-start="1" data-parallax-opacity-end="1"
                            style=" background-image: url(&#039;https://lycka.bold-themes.com/trendy/wp-content/plugins/bold-page-builder/img/blank.gif&#039;);">
                        </div>
                    </div>
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row" data-bt-override-class="{}">
                                        <div class="bt_bb_column col-xxl-8 col-xl-8 col-xs-12 col-sm-12 col-md-12 col-lg-8 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_none bt_bb_animation_fade_in animate"
                                            data-width="8"
                                            data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_left&quot;,&quot;xxl&quot;:&quot;left&quot;,&quot;xl&quot;:&quot;left&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;}}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_medium bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content bt_bb_hidden_xs bt_bb_hidden_ms"
                                                        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;}}">
                                                        <div class="bt_bb_separator_v2_inner"><span
                                                                class="bt_bb_separator_v2_inner_before"></span><span
                                                                class="bt_bb_separator_v2_inner_content"><span
                                                                    data-ico-=""
                                                                    class="bt_bb_icon_holder"></span></span><span
                                                                class="bt_bb_separator_v2_inner_after"></span></div>
                                                    </div>
                                                    <header
                                                        class="bt_bb_headline bt_bb_supertitle_color_scheme_1 bt_bb_dash_none bt_bb_superheadline bt_bb_superheadline_outside bt_bb_size_large bt_bb_align_inherit"
                                                        style=" max-width: 650px;; --headline-supertitle-primary-color:#ffffff; --headline-supertitle-secondary-color:#2b2c2e;"
                                                        data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                                        <div class="bt_bb_headline_superheadline_outside"><span
                                                                class="bt_bb_headline_superheadline">MY ACCOUNT</span>
                                                        </div>
                                                        <h1 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Check Your Lycka
                                                                    Profile <i><u>Details</u></i></span></span></h1>
                                                    </header>
                                                    <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_normal bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content bt_bb_hidden_xs bt_bb_hidden_ms"
                                                        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;,&quot;xl&quot;:&quot;normal&quot;}}">
                                                        <div class="bt_bb_separator_v2_inner"><span
                                                                class="bt_bb_separator_v2_inner_before"></span><span
                                                                class="bt_bb_separator_v2_inner_content"><span
                                                                    data-ico-=""
                                                                    class="bt_bb_icon_holder"></span></span><span
                                                                class="bt_bb_separator_v2_inner_after"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xxl-4 col-xl-4 col-xs-12 col-sm-12 col-md-12 col-lg-4 bt_bb_vertical_align_bottom bt_bb_align_right bt_bb_padding_none bt_bb_animation_fade_in animate"
                                            data-width="4"
                                            data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_right&quot;,&quot;xxl&quot;:&quot;right&quot;,&quot;xl&quot;:&quot;right&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;}}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_floating_image bt_bb_floating_image_horizontal_position_right bt_bb_floating_image_vertical_position_bottom bt_bb_floating_image_animation_delay_default bt_bb_floating_image_animation_duration_default bt_bb_floating_image_animation_style_ease_out bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"
                                                        style="right: -7em; bottom: -7em; z-index: 999;"
                                                        data-speed="0.4" data-direction="">
                                                        <div class="bt_bb_floating_image_image" data-speed="0.4"
                                                            data-direction="">
                                                            <div class="bt_bb_image" data-bt-override-class="{}">
                                                                <span><img fetchpriority="high" decoding="async"
                                                                        width="310" height="240"
                                                                        src="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2021/12/floating_image_04.png"
                                                                        class="attachment-full size-full"
                                                                        alt="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2021/12/floating_image_04.png"
                                                                        data-full_image_src="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2021/12/floating_image_04.png"
                                                                        title="floating_image_04" /></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- cell_inner -->
                        </div><!-- cell -->
                    </div><!-- port -->
                    <div class="bt_bb_section_bottom_section_coverage_image"><img decoding="async"
                            src="https://lycka.bold-themes.com/trendy/wp-content/uploads/sites/2/2021/12/white_bottom_01.png"
                            alt="bt_bb_section_bottom_section_coverage_image" /></div>
                </section>
                <section id="bt_bb_section6638c1ff822fa"
                    class="bt_bb_section bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_top_spacing_large bt_bb_bottom_spacing_medium"
                    data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;,&quot;xl&quot;:&quot;large&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;}}">
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row" data-bt-override-class="{}">
                                        <div class="bt_bb_column col-xxl-12 col-xl-12 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal"
                                            data-width="12" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_text">
                                                        <div class="woocommerce">
                                                            <div class="woocommerce-notices-wrapper"></div>
                                                            <form method="post"
                                                                class="woocommerce-ResetPassword lost_reset_password">

                                                                <p>Lost your password? Please enter your username or
                                                                    email address. You will receive a link to create a
                                                                    new password via email.</p>
                                                                <p
                                                                    class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                                                    <label for="user_login">Username or email</label>
                                                                    <input
                                                                        class="woocommerce-Input woocommerce-Input--text input-text"
                                                                        type="text" name="user_login" id="user_login"
                                                                        autocomplete="username" />
                                                                </p>

                                                                <div class="clear"></div>


                                                                <!-- BEGIN recaptcha, injected by plugin wp-recaptcha-integration  -->
                                                                <div id="g-recaptcha-0" class="g-recaptcha"
                                                                    data-sitekey="6LfmEKAaAAAAAJGwYMNSdux-yATrkwZcw6GT6N41"
                                                                    data-theme="light"></div><noscript>Please enable
                                                                    JavaScript to submit this form.<br></noscript>
                                                                <!-- END recaptcha -->

                                                                <p class="woocommerce-form-row form-row">
                                                                    <input type="hidden" name="wc_reset_password"
                                                                        value="true" />
                                                                    <button type="submit"
                                                                        class="woocommerce-Button button"
                                                                        value="Reset password">Reset password</button>
                                                                </p>

                                                                <input type="hidden"
                                                                    id="woocommerce-lost-password-nonce"
                                                                    name="woocommerce-lost-password-nonce"
                                                                    value="f6a552d3dc" /><input type="hidden"
                                                                    name="_wp_http_referer"
                                                                    value="/trendy/shop/my-account/lost-password/" />
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_medium bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                                        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;,&quot;xl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;,&quot;xl&quot;:&quot;medium&quot;}}">
                                                        <div class="bt_bb_separator_v2_inner"><span
                                                                class="bt_bb_separator_v2_inner_before"></span><span
                                                                class="bt_bb_separator_v2_inner_content"><span
                                                                    data-ico-=""
                                                                    class="bt_bb_icon_holder"></span></span><span
                                                                class="bt_bb_separator_v2_inner_after"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- cell_inner -->
                        </div><!-- cell -->
                    </div><!-- port -->
                </section>
            </div>
        </div><!-- /boldthemes_content -->

    </div>
</div>
<%- include('../includes/footer') %>